<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body th:object="${student}">
      <h1 th:if="*{id}">修改学生信息</h1>
      <h1 th:unless="*{id}">新增学生</h1>
      <form method="post" th:action="@{*{id}==0?'/student/add':'/student/update'}">
        <table class="stu_table" border="1" width="70%">
          <tr>
            <td>
              <input type="hidden" th:field="*{id}">
            </td>
          </tr>
          <tr>
            <td>No.</td>
            <td>
              <input type="text" th:field="*{no}">
            </td>
            <td th:errors="*{no}">No. Error</td>
          </tr>
          <tr>
            <td>Firstname</td>
            <td>
              <input th:field="*{firstname}">
            </td>
            <td th:errors="*{firstname}">Firstname Error</td>
          </tr>
          <tr>
            <td>Lastname</td>
            <td>
              <input th:field="*{lastname}">
            </td>
            <td th:errors="*{lastname}">Lastname Error</td>
          </tr>
          <tr>
            <td>Gender</td>
            <td>
              <input th:field="*{gender}" type="radio" value="M"/>男
              <input th:field="*{gender}" type="radio" value="F"/>女
            </td>
            <td th:errors="*{gender}">Gender Error</td>
          </tr>
          <tr>
            <td>Birthday</td>
            <td>
              <input th:field="*{birthday}" type="date">
            </td>
            <td th:errors="*{birthday}">Birthday Error</td>
          </tr>

          <tr>
            <td>Email</td>
            <td><input type="email" th:field="*{email}"></td>
            <td th:errors="*{email}">Email Error</td>
          </tr>
          <tr>
            <td></td>
            <td>
              <input name="reset" type="reset"/>
              <input name="submit" type="submit"/>
            </td>
          </tr>
        </table>
      </form>
</body>
</html>